* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.enemy {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: grey;
    outline: solid black 2px;
}

.arrow-div {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid black;
}